.modal-register-form {
    width: 100%;
    max-width: 1000px;
}

.modal-open {
    overflow: hidden;
    position: fixed;
}

/*
    .modal-dialog{
        max-width: 900px;
    }
*/

.c-tab {
    display: flex;
    flex-wrap: wrap;
}

.c-tab__trigger {
    order: -1;
    margin-bottom: 30px;
}

.c-tab__content {
    display: none;
    flex: 1 0 100%;
}

.c-tab__content.is-active {
    display: block;
    text-align: center;
}

.wrap_menu {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px 20%;
    position: relative;
    z-index: 98;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.wrap_menu.sticky {
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
    right: 0;
    top: 0;
    left: 0;
    padding: 0 5%;
    border-bottom: 1px solid #eee;
    height: 80px;
}

.wrap_menu.sticky .logo img {
    width: 60%;
}

.forget-pass {
    color: #bebebe;
    font-size: 0.9em !important;
    letter-spacing: 0 !important;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 10px;
}

.forget-pass:hover {
    color: black;
    text-decoration: none;
}

.dropdown-inner a {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
}

.dropdown-inner {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.dropdown-inner:after {
    bottom: 100%;
    right: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #b40303;
    border-width: 10px;
    margin-left: -8px;
}

.dropdown-hover:hover .dropdown-inner,
.dropdown-open:checked ~ .dropdown-inner {
    opacity: 1;
    visibility: visible;
}

.dropdown-hover:hover ~ .dropdown-overlay,
.dropdown-open:checked ~ .dropdown-overlay {
    display: block;
}

.dropdown-inner {
    width: 300px;
    border: 2px solid #b40303;
    background: #fff;
    transition: opacity .3s, visibility .3s;
    font-size: 1em;
    letter-spacing: 2px;
    z-index: 99999;
    left: -200px;
    padding: 20px;
    border-radius: 15px;
    top: 40px;
}

.btn-top {
    float: left;
}

.btn-primary {
    background-color: #ffd440;
    border: none;
    border-radius: 0px;
    color: #252525;
}

.mainnavbar {
    z-index: 6899;
    position: relative;
}

.top_bar {
    height: 45px;
    text-align: right;
    float: right;
}

.icon_top {
    display: inline-block;
    padding-left: 7px;
    margin-left: 12px;
    position: relative;
    vertical-align: top;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    height: 20px;

}

.icon_top::before {
    content: "";
    border-left: 1px solid black;
    position: absolute;
    left: 0;
    opacity: 0.4;
    height: 15px;
    top: 15px;
}

.icon_top a {
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
}

.icon_top i {
    font-size: 0.8em;
}

.logo > a img {
    width: 80%;
}

.logo {
    text-align: left;
}

.logo a {
    display: inline-block;
    position: relative;
    margin-top: 0px;
}

.logo a img {
    max-width: 100%;
    max-height: 100px;
    height: auto;
    display: block;
}

.mainmenu {
    text-align: right;
    padding-right: 0;
    position: static;
}

.mainmenu ul {
    display: block;
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
}

.mainmenu ul li {
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 32px;
}

.fz_l .mainmenu ul li {
    margin-left: 18px;
}

.mainmenu ul li a {
    font-size: 1rem;
    display: block;
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.mainmenu ul li a:hover {
    color: #b40303;
}

.btn_menu {
    display: none;
}

.submenu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    border-top: 4px solid #b40303;
    border-bottom: 4px solid #b40303;
    background-color: #FFF;
    text-align: left;
    color: #000;
}

.submenu_left {
    border-right: 1px solid #9d9b9b;
    margin-top: 40px;
    margin-bottom: 15px;
}

.submenu_left h1 {
    font-size: 2.5rem;
    line-height: 0.7;
    margin-bottom: 0;
}

.submenu_left h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 0.7;
    margin-top: 0;
}

.submenu_left p {
    color: #aeacac;
    font-size: 0.8rem;
    line-height: 0.9;
}

.mainmenu ul li .submenu_left a {
    display: inline-block;
    font-size: 0.8rem;
    border: 1px solid #9b9b9b;
    color: #858484;
    padding: 5px 20px 3px 20px;
    margin-top: 15px;
}

.mainmenu ul li .submenu_left a:hover {
    color: #b40303;
    border: 1px solid #b40303;
}

.submenu_right img {
    width: 100%;
    height: auto;
    display: block;
}

.submenu_mid ul.submenu_mid_list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.submenu_mid ul.submenu_mid_list > li {
    padding: 0;
    background-repeat: no-repeat;
    background-position: left 9px;
    padding-left: 17px;
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.submenu_mid ul.submenu_mid_list > li > a {
    color: black;
}

.submenu_mid {
    margin-bottom: 15px;
}

.submenu_mid ul li a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.submenu_mid ul li ul {
    margin: 0;
    list-style: disc;
    padding-left: 0px;
}

.submenu_mid ul li ul li {
    color: #818181;
    display: list-item;
    padding: 0;
}

.submenu_mid ul li ul li a {
    font-size: 0.9rem;
    font-weight: normal;
    color: #000;
}

.submenu_mid ul li a:hover {
    color: #b40303;
}

.fontsize_btn {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    padding-top: 5px;
    position: relative;
    padding-left: 7px;
    margin-left: 12px;
    float: left;
}

.fontsize_btn::before {
    content: "";
    border-left: 1px solid #fff;
    position: absolute;
    left: 0;
    opacity: 0.4;
    height: 15px;
    top: 8px;
}

.fontsize_btn div {
    display: inline-block;
    color: #252525;
    font-weight: 500;
    cursor: pointer;
    line-height: 26px;
    padding: 0 2px;
    margin-left: 1px;
}

.fontsize_s {
    font-size: 18px;
}

.fontsize_m {
    font-size: 24px;
}

.fontsize_l {
    font-size: 35px;
}

@media (min-width: 992px) {
    .submenu {
        z-index: -9;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .hassub:hover .submenu {
        opacity: 1.0;
        z-index: 99998;
        visibility: visible;
    }
}

@media (max-width: 1600px) {
    .wrap_menu {
        padding: 0px 15%;
    }
}

@media (max-width: 1440px) {
    .wrap_menu {
        padding: 0px 10%;
    }
}

@media (max-width: 1280px) {
    .wrap_menu {
        padding: 0px 6%;
    }
}

@media (max-width: 1199px) {
    .mainmenu {
        padding-right: 15px;
    }

    .mainmenu ul li a {
        font-size: 0.9rem;
    }

    .mainmenu ul li {
        margin-left: 10px;
    }

    .logo a {
        margin-top: 5px;
    }

    .wrap_menu.sticky .logo img {
        width: 80%;
    }

    .wrap_menu {
        padding: 0px 4%;
    }
}

@media (max-width: 991px) {
    .logo a {
        margin-top: 10px;
    }

    .wrap_menu.sticky .logo img {
        width: 100%;
    }

    .dropdown-inner {
        right: 0;
        width: auto;
    }

    .btn_menu {
        display: inline-block;
        margin-top: 20px;
    }

    .btn_menu .btn_menu_line {
        width: 25px;
        display: inline-block;
        padding-right: 5px;
        padding-top: 1px;
        vertical-align: middle;
    }

    .btn_menu .btn_menu_line span {
        display: block;
        height: 3px;
        background-color: #3a3a3a;
        margin-bottom: 3px;
    }

    .btn_menu .btn_menu_text {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 1px;
        vertical-align: middle;
    }

    .logo a img {
        max-height: 70px;
    }

    .mainmenu > ul {
        position: absolute;
        left: 0;
        background-color: #FFF;
        margin-top: 0;
        top: 100%;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 2px solid #b40303;
        border-bottom: 2px solid #b40303;
        display: none;
    }

    .mainmenu > ul > li {
        padding-bottom: 0;
        display: block;
        margin: 0;
        text-align: left;
    }

    .mainmenu > ul > li > a {
        font-size: 1.2rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    .submenu {
        position: static;
        display: none;
    }

    .submenu_left h1 {
        font-size: 1.3rem;
    }

    .submenu_left h2 {
        font-size: 1.1rem;
    }

    .submenu_mid ul.submenu_mid_list > li {
        margin-left: 0;
    }

    .submenu_left {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .wrap_menu {
        padding: 0px 4%;
    }

    .wrap_menu.sticky .btn_menu {
        margin-top: 15px;
    }

    .wrap_menu.sticky .logo {
        margin-top: 10px;
    }

    .logo a {
        margin-top: 0px;
    }

    .wrap_menu.sticky .logo img {
        width: 100%;
    }

    .btn_menu {
        margin-top: 5px;
    }

    .logo a img {
        width: 100%;
    }

    .dropdown-inner {
        right: 0;
        width: auto;
    }

    .btn-primary {
        padding: 2px 10px;
        font-size: 0.9rem;
    }

    .submenu_mid ul.submenu_mid_list {
        margin-top: 0;
    }

    .submenu_right img {
        max-width: 400px;
    }

    .member-signin,
    .fontsize_btn {
        display: inline-block;
        vertical-align: top;
    }

    .fontsize_btn {
        padding-top: 1px;
        margin-left: 5px;
        margin-top: 0px;
    }

    .submenu_mid ul.submenu_mid_list {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .submenu_right {
        display: none;
    }

    .top_bar {
        height: auto;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .top_bar.active {
        padding-bottom: 30px;
    }

    .submenu_left {
        display: none;
    }

    .submenu_mid {
        padding-top: 10px;
    }

    .icon_top {
        padding-top: 0px !important;
    }
}

@media (max-width: 425px) {
    /*
            .icon_top {
                margin-top: -35px;
            }
    */
}

@media (max-width: 375px) {
    .icon_top {
        margin-top: 0px;
    }
}
