.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    padding: 8px 16px;
    color: #252525;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    font-family: 'DB Heavent';
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 50px;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-family: 'DBHeavent-Med';
    font-size: 0.9rem;
    color: #333;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

.react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
    border-top: 0;
}

.react-autosuggest__section-title {
    padding: 5px 0 0 10px;
    font-family: 'DB Heavent';
    font-size: 0.8rem;
    color: #888;
    background: #fffee2;
}